.product__container__display {
  width: 100%;
  padding: 3rem 1rem 5rem 1rem;
}

.product__img__div {
  width: 100%;
  height: auto;
}

.product__img__div img {
  width: 100%;
}

.product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__title {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0.6rem 0;
}

.product__display__p {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.product__display__price {
  margin-right: 0.5rem;
}

.product__color span {
  text-transform: lowercase;
  font-weight: 500;
}

.product__sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.product__sizes__title {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.product__sizes__display {
  width: 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__sizes__display::after {
  content: 'Selecionar tamanho';
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: red;
}

.hide.product__sizes__display::after {
  display: none;
}

.hidebox {
  display: none;
}

.product__size__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.3rem;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: none;
}

input[type='radio']:checked + .product__size__btn {
  cursor: default;
  background-color: #000;
  color: #fff;
}

input[type='radio']:disabled + .product__size__btn {
  cursor: default;
  background-color: #e5e5e5;
}

.shopping__button__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.shopping__button {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  border: 0;
  color: #fff;
  background-color: black;
}

.shopping__button__container__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .product__container__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product__img__div {
    margin: 0 auto;
    width: 65%;
  }

  .product__title {
    font-size: 2rem;
  }

  .product__display__p {
    font-size: 1.4rem;
  }

  .product__color {
    font-size: 1.5rem;
  }

  .product__sizes__title {
    font-size: 1.4rem;
  }

  .product__sizes__display {
    width: 300px;
  }

  .product__size__btn {
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
  }

  .shopping__button__container {
    position: relative;
    margin-top: 2rem;
  }

  .shopping__button {
    width: 500px;
    border-radius: 8px;
    font-weight: 300;
    letter-spacing: 10px;
  }
}

@media screen and (min-width: 992px) {
  .product__container__display {
    height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: row;
  }

  .product__img__div {
    width: 40%;
    margin: 0;
  }

  .product__description {
    padding: 1rem 2rem;
    align-items: flex-start;
  }

  .product__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .product__display__p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .product__display__installments {
    color: gray;
  }

  .product__color {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .product__sizes {
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .product__sizes__title {
    font-size: 1.7rem;
  }

  .shopping__button__container {
    display: none;
  }

  .shopping__button__container__desktop {
    display: block;
    margin-top: 2rem;
  }

  .shopping__button {
    width: 600px;
  }
}
