.product__container__display {
  width: 100%;
  padding: 3rem 1rem 5rem 1rem;
}

.product__img__div {
  width: 100%;
  height: auto;
}

.product__img__div img {
  width: 100%;
}

.product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__title {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0.6rem 0;
}

.product__display__p {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.product__display__price {
  margin-right: 0.5rem;
}

.product__color span {
  text-transform: lowercase;
  font-weight: 500;
}

.product__sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.product__sizes__title {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.product__sizes__display {
  width: 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__sizes__display::after {
  content: 'Selecionar tamanho';
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: red;
}

.hide.product__sizes__display::after {
  display: none;
}

.hidebox {
  display: none;
}

.product__size__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.3rem;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: none;
}

input[type='radio']:checked + .product__size__btn {
  cursor: default;
  background-color: #000;
  color: #fff;
}

input[type='radio']:disabled + .product__size__btn {
  cursor: default;
  background-color: #e5e5e5;
}

.shopping__button__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.shopping__button {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  border: 0;
  color: #fff;
  background-color: black;
}
