.products__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 0.2rem;
}

.product__card__link {
  text-decoration: none;
  height: auto;
  width: 50%;
  color: black;
}

.product__card__link:visited {
  color: black;
}
